* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s;
}

#headerr {
  background: linear-gradient(180deg, #ffd00055, #0038935d, #ce112744);
}

#logo {
  width: 50px;
  height: 50px;
  transform: rotateY(180deg);
}

main {
  background: linear-gradient(180deg, #FFD100, #003893, #CE1126);
}

#main {
  padding-top: 85px;
}

section {
  background-image: url('https://cdn.pixabay.com/photo/2018/07/31/06/33/flag-3574340_1280.png');
  background-size: cover;
  background-position: center;
  color: white;
}


h2 {
  color: rgb(0, 0, 0);
  text-align: center;
}

.card-footer {
  margin: 50px;
}

.card-title {
  color: #c9d006da;
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-text-stroke: #0c006a .7px;
}

.card-text {
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000000;
  background-color: #e6ec7f34;
  border-radius: 50px;
}

.card-footer {
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000000;
}

.custom-box {
  max-height: 200px;
  /* Altura máxima de la caja */
  overflow-y: auto;
  /* Habilita el scroll vertical si el contenido excede la altura */
  border: 1px solid #ccc;
  padding: 10px;
}

.nivel-riesgo-0 {
  background-color: #000000b7;
}

.nivel-riesgo-1 {
  background-color: #66a6e6f1;

}

.nivel-riesgo-2 {
  background-color: #33c062ec
}

.table {
  width: 100%;
  border-collapse: collapse;
}

/* Estilos para el thead */
thead th {
  background-color: #34485c9f;
  /* Color de fondo para el thead */
  position: sticky;
  top: 0;
  /* Ajusta este valor si es necesario */
  z-index: 10;
  /* Asegura que el thead se mantenga sobre otros elementos */
}

#especies img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  transform-origin: top right;
}

#especies img:hover {
  transform: scale(3.5);
}

tbody {
  font-size: 1.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;

}